* { margin: 0; padding: 0; box-sizing: border-box;
  
  /* Color scheme */
  --textcolor: #dadada;
  --linkcolor: #58a6ff;
  --bgcolor: #12121a;
  --lightbgcolor: #232331;

}

body {
  font-size: 18px;
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  color: var(--textcolor);
  background: var(--bgcolor);
  position: relative;
  max-width: 64em;  /* remove this for a full-width layout */
  margin: 0 auto;  /* centers the layout */
  padding-bottom: 5vh;
}

/* ------- Home ------- */
.homeH1 {
  display: inline-block;
  margin: 0 auto 15px auto;
  text-align: center;
  color: #fff;
}
.homeH1Container { text-align: center; }
.homeH2 { margin: 25px 0 0 0; }

.homeImg {
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}

.homeColumnContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}
.homeColumn {
  flex: calc(33.33% - 15px);
}
.homeColumn p {
  text-indent: 15px;
  margin: 0;
}

.homeUl {
  margin: 5px 0 0 0;
}

/* ------- Index ------- */
.indexImg {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  max-width: 100%;
  height: auto;
}

/* ------- Worlds page ------- */
.worldsContainer {
  margin: 25px 0 40px 0;
}
.worldsContainer:last-of-type {
  margin-bottom: 20px;
}

.worldsCharacterImg {
  cursor: pointer;
  margin: 40px 0 0;
}

.worldsCard {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.worldsCard img {
  width: 100%;
  height: auto;
  margin: 0 20px 0 0;
}

.worldsCardInner {
  display: flex;
  flex-direction: column;
}
.worldsCardInner h2 {
  padding: 0;
  margin: 5px 0 0;
}
.worldsCardInner p { margin: 0 0 10px 0; }

.worldsCardButtons {
  display: flex;
  gap: 15px;
  width: 100%;
  margin: auto 0 0;
}
.worldsCardButtons a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--textcolor);
  background-color: #232333;
  border-color: #36363c;
  border-width: 2px;
  border-style: outset;
  width: 100%;
  height: 50px;
  margin: 5px 0 0;
  text-decoration: none;
  text-align: center
}
.worldsCardButtons a:hover {
  background-color: #2b2b3b;
}
.worldsCardButtons a:active {
  border-style: inset;
}

/* ------- Table of contents ------- */
.tocH1 {
  padding: 0 0 5px;
  margin: 0 0 20px 0;
  text-align: center;
  border-bottom: 1px solid;
  color: #fff;
}
.tocH2 { 
  padding: 0;
  margin: 20px 0 0;
}
.tocOl {
  padding: 0 0 0 20px;
  margin: 0;
}

/* ------- Text-heavy pages (tutorials, blogs, tocs) ------- */
.textHeavyPage {
  max-width: 50em;
  margin: 0 auto;
}

/* ------- Platform selection ------- */
.platformSelectH1 {
  text-align: center;
  margin: 0 0 15px 0;
}
.platformSelectP {
  text-align: center;
  margin: 0 0 10px 0;
}
.platformSelectA {
  text-align: center;
  display: block;
  margin: 0 0 10px 0;
}

/* ------- Roadmap ------- */

.startedLi {
  color: #ffff00;
}

.almostLi {
  color: #99cc00;
}

.completeLi {
  color: #40BF80;
}

/* ------- Blog ------- */
.blogTable {
  margin: 20px 0;
}

.blogTable td:first-child {
  padding-right: 5px;
  vertical-align: top;
}

.blogTable td {
  padding-bottom: 5px;
}

/* ------- General ------- */
main {
  padding: 3vh 5vw 0 5vw;
  position: relative;
  width: 100%;
}

a { color: var(--linkcolor); }

p { margin: 0 0 15px 0; }

h1 { margin: 0 0 10px 0; }
h2 { margin: 15px 0 0; }
h3 { margin: 10px 0 0; }

ol, ul {
  margin: 0 0 15px;
}
ol {
  padding: 0 0 0 30px;
}
ul {
  padding: 0 0 0 25px;
  list-style: square;
}
ul ul {
  margin: 0;
}

pre > code {
  display: block;
  background: var(--lightbgcolor);
  white-space: pre-wrap;
  max-width: 100%;
  min-width: 100px;
  padding: 5px 10px 5px 10px;
  margin: 15px 0 15px 0;
  border-radius: 5px;
}

p > code {
  background: var(--lightbgcolor);
  border-radius: 5px;
  padding: 0 3px 0 3px;
}

/* ------- Smaller screens ------- */
@media only screen and (max-width: 680px) {
  nav {
    justify-content: space-between;
    width: 100%;
  }

  ul { padding: 0 0 0 18px; }

  .homeColumn { flex: 100%; }

  .worldsCard { flex-wrap: wrap; }
}

