* { margin: 0; padding: 0; box-sizing: border-box;
  
  /* Color scheme */
  --textcolor: #dadada;
  --linkcolor: #58a6ff;
  --bgcolor: #12121a;
  --lightbgcolor: #232331;

}

body {
  font-size: 18px;
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  color: var(--textcolor);
  background: var(--bgcolor);
  position: relative;
  max-width: 64em;  /* remove this for a full-width layout */
  margin: 0 auto;  /* centers the layout */
  padding-bottom: 5vh;
}

/* ------- Table of contents ------- */
.tocH1 {
  padding: 0 0 5px;
  text-align: center;
  border-bottom: 1px solid;
  color: #fff;
}
.tocH2 { 
  padding: 0;
  margin: 20px 0 0;
}
.tocOl {
  padding: 0;
  margin: 0;
  text-indent: 0;
}

/* ------- Platform selection ------- */
.platformSelectH1 {
  text-align: center;
  margin: 0 0 15px 0;
}
.platformSelectP {
  text-align: center;
  margin: 0 0 10px 0;
}
.platformSelectA {
  text-align: center;
  display: block;
  margin: 0 0 10px 0;
}

/* ------- Text-heavy pages (tutorials, blogs, tocs) ------- */
.textHeavyPage {
  max-width: 50em;
  margin: 0 auto;
}

/* ------- General ------- */
main {
  padding: 3vh 5vw 0 5vw;
  position: relative;
  width: 100%;
}

a { color: var(--linkcolor); }

p { margin: 0 0 5px 0; }

h1 { padding: 0; }
h2 { padding: 15px 0 0; }
h3 { padding: 10px 0 0; }

ol {
  padding: 0 8px 5px;
  text-indent: -18px;
  margin-left: 18px;
}
li { list-style-position: inside; }

pre > code {
  display: block;
  background: var(--lightbgcolor);
  white-space: pre-wrap;
  max-width: 100%;
  min-width: 100px;
  padding: 5px 10px 5px 10px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
}

p > code {
  background: var(--lightbgcolor);
  border-radius: 5px;
  padding: 0 3px 0 3px;
}

/* ------- Smaller screens ------- */
@media only screen and (max-width: 680px) {
  body { font-size: 16px; }

  nav {
    justify-content: space-between;
    width: 100%;
  }
}

